html {
background-color: #A594F9;
}
h1{
}
.test {
    color: rgb(139, 93, 255);
}
.movie-title {
    color: #CDC1FF; 
}
ul {
    align-items: center;
    text-align: center;
    list-style-position: inside;
    color: #8B5DFF;
}
#thanks {
    color: #8B5DFF;
}
.test{
    text-align: center;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
